@import "../../styles/variables.scss";

// .blur {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   z-index: 1000;
//   background: rgba(0, 0, 0, 0.25);
//   backdrop-filter: blur(3px);
// }

// .popup {
//   position: fixed;
//   top: 35%;
//   left: calc(48% - 325px);
//   z-index: 1001;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   padding: 40px;
//   max-width: 750px;
//   width: 100%;
//   background: var(#{--components-background-default});
//   box-shadow: $box-shadow;
//   border-radius: $border-radius;
// }

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 750px;
  width: 80%;
  height: 300px;
  z-index: 1001;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  svg {
    transition: .3s;
  }

  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

.day {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;

  .day__temp {
    font-weight: 500;
    font-size: 54px;
    color: $primary-color;
    margin-bottom: 12px;
  }

  .day__name {
    font-weight: 400;
    font-size: 25px;
    color: var(#{--text-color-default});
    margin-bottom: 12px;
  }

  .img {
    padding-top: 10px;
    padding-left: 22px;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  .day__time,
  .day__date,
  .day__city {
    font-weight: 400;
    font-size: 15px;
    color: $base-color;
    margin-bottom: 5px;

    span {
      margin-left: 5px;
    }
  }
}

@media (max-width: 930px) {}

@media (max-width: 800px) {
  .indicator__value {
    margin-left: 15px;
    max-width: 80px;
  }
}

@media (max-width: 716px) {
  .popup {
    height: 550px;
  }

  .item {
    flex-direction: column;
    text-align: center;

    .indicator,
    .indicator__value,
    .indicator__name {
      margin: 0;
      margin-bottom: 7px;
    }
  }
}

@media (max-width: 450px) {
  .popup {
    flex-direction: column;
    height: 570px;
  }

  .day {
    margin-bottom: 40px;

    .day__temp {
      font-weight: 500;
      font-size: 40px;
    }

    .img {
      padding-left: 16px;
    }
  }

  .this__day_info_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 290px) {
  .popup {
    height: 630px;
  }

  .day {
    flex-direction: column;

    .img {
      padding: 0;
    }
  }
}