@import "../../../../styles/variables.scss";

.this__day {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.top__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

  svg {
    width: 119px;
    height: 119px;
  }

  .this__temp {
    font-size: 80px;
    font-weight: 500;
    color: $primary-color;
  }

  .this__day_name {
    font-size: 40px;
    color: var(#{--text-color-default});
  }
}

.bottom__block {

  .this__time,
  .this__date,
  .this__city {
    margin-bottom: 7px;
    font-size: 23px;
    color: $base-color;

    span {
      margin-left: 10px;
    }
  }
}

@media (max-width: 780px) {
  .top__block {
    svg {
      width: 79px;
      height: 79px;
    }

    .this__temp {
      font-size: 68px;
    }

    .this__day_name {
      font-size: 36px;
    }
  }
}

@media (max-width: 676px) {
  .top__block {
    flex-direction: column-reverse;
    height: 230px;

    .this__day_name {
      margin-top: 10px;
    }
  }

  .bottom__block {

    .this__time,
    .this__date,
    .this__city {
      font-size: 18px;
    }
  }
}

@media (max-width: 540px) {
  .top__block {
    height: 180px;

    svg {
      width: 59px;
      height: 59px;
    }

    .this__temp {
      font-size: 48px;
    }

    .this__day_name {
      font-size: 30px;
    }
  }

  .bottom__block {

    .this__time,
    .this__date,
    .this__city {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      span {
        margin-top: 5px;
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 410px) {
  .bottom__block {

    .this__time,
    .this__date,
    .this__city {
      display: flex;
      flex-direction: row;

      span {
        margin-top: 0px;
      }
    }
  }
}

@media (max-width: 260px) {
  .bottom__block {

    .this__time,
    .this__date,
    .this__city {
      font-size: 15px;
    }
  }
}